absl-py==0.15.0
anyio 
argon2-cffi 
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens 
astunparse==1.6.3
async-lru 
attrs 
Babel 
backcall
beautifulsoup4 
bleach 
Brotli 
cachetools==5.3.2
certifi 
cffi 
charset-normalizer 
clang==5.0
colorama 
comm 
contourpy==1.2.0
cryptography 
cycler==0.12.1
debugpy 
decorator 
defusedxml 
exceptiongroup 
executing 
fastjsonschema 
flatbuffers==1.12
fonttools==4.47.2
fqdn==1.5.1
gast==0.4.0
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.60.0
h5py==3.1.0
idna 
importlib-metadata 
importlib-resources==6.1.1
ipykernel 
ipython 
ipywidgets==8.1.1
isoduration==20.11.0
jedi 
Jinja2 
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema 
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab==4.0.10
jupyterlab-pygments 
jupyterlab-widgets==3.0.9
jupyterlab_server
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.2
MarkupSafe 
matplotlib==3.8.2
matplotlib-inline
mistune 
ml-dtypes==0.2.0
natsort==8.4.0
nbclient
nbconvert 
nbformat 
nest-asyncio 
notebook_shim 
numpy==1.19.5
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
overrides 
packaging 
pandas==2.1.4
pandocfilters 
parso
pickleshare
pillow==10.2.0
platformdirs 
prometheus-client 
prompt-toolkit 
protobuf==4.23.4
psutil 
pure-eval 
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser 
Pygments 
pyOpenSSL 
pyparsing==3.1.1
PySocks 
python-dateutil 
python-json-logger 
pytz
pywinpty 
PyYAML 
pyzmq 
qtconsole==5.5.1
QtPy==2.4.1
referencing 
requests
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator 
rpds-py 
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash 
six==1.15.0
sniffio 
soupsieve 
stack-data 
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado 
threadpoolctl==3.2.0
tinycss2 
tomli
tornado 
tqdm==4.66.1
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing-extensions==3.7.4.3
tzdata==2023.4
uri-template==1.3.0
urllib3 
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client 
Werkzeug==3.0.1
widgetsnbextension==4.0.9
win-inet-pton 
wrapt==1.12.1
zipp 